<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>

  </div>

  <div class="content">
    Title = {{ title }}
    <br/>
    Name = {{ name }}
    <br/>
    <input [ngModel]="name" name="name"> <!-- One-Way Databind (apenas exibe o valor da propriedade)-->
    <input [(ngModel)]="name" name="name"> <!-- Two-Way Databind (exibe e altera o valor da propriedade)-->
    
  </div>
</div>